<!DOCTYPE html>
<head>

</head>
<body>
    <h1>About Me!</h1>
    <h2>I'm a bad boy</h2>
    <p><a href="/">Home</a></p>
    <p><a href="/my-biking">Biking</a></p>

    <ul>
        <li>Hey there </li>
        <li> About </li>
    </ul>
</body>
