<!DOCTYPE html>
<head>

</head>
<body>
    <h1>This is my fucking header!</h1>
    <h2>Extra info</h2>
    <p><a href="/about">About</a></p>
    <p><a href="/my-biking">Biking</a></p>

    <p>Your number is: <%= data %></p>

</body>
