block variables
doctype html
html
  head
  body 
    h1 This is my fucking header!
    h2 Extra info
    p 
      a(href="/about") About
    p
      a(href="/my-biking") Biking

    p Your number is: #{data}

