doctype html
html
  head
  body
    h1 Data Page
    ul#my-list

script.
    var query_data = !{JSON.stringify(query_data)}
    console.log(query_data)

    // Create our list
    var list = document.getElementById('my-list')
    for(let i = 0; i < Object.keys(query_data).length; i++) {
        let li = document.createElement('li');
        li.textContent = query_data[i]['id'] + ' ' + query_data[i]['fname'] + ' ' + query_data[i]['lname'];
        list.appendChild(li);
    }
